/*

    James Thomas
    Student, Harvard Extension School
    Austin, TX USA
    http://jethomasii.me
    
    main.css
    
*/

body {
    color: #b9b9b9;
    background: url(http://localhost/project1/assets/images/snowatthelake.jpg) no-repeat center;
}

#picture {
    width: 600;
    background: rgba(0, 0, 0, 00.65);
}

#projects {
    background: rgba(0, 0, 0, 00.65);
}